
*.war
*.war
*.war
*.xml
*.txt
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
out/production/ProjetoSD/META-INF/ProjetoSD.kotlin_module
out/artifacts/ucBuscar/ucBuscar.war
Users.txt
pesquisas.txt
pesquisas.txt
